{% extends '__base__.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/booking-confirmation.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

    <script src="{% static 'scripts/index.js' %}"></script>

{% endblock %}

{% block script %}

{% endblock %}


{% block container %}

    <div class="div-confirmation">


        {% if confirmed is True %}
            <p class="p-upss">Upsss !</p>
            <p class="p404">404</p>
            <p class="already-confirmed"><strong>Please note this link is not valid anymore !</strong></p>
        {% else %}
            <h2>Hello {{ customer }} !</h2>
            <p>Thank you for confirming your attendance to an event <strong>"{{ event.name }}" </strong>.</p>
            <p><strong>Event Date:</strong> {{ event.date }}</p>


        <div class="confirmation-signature">
            <p>Enjoy and see you soon !</p>

        </div>
            <h3><a href="{% url 'event_booker:main-show-events' %}">If you wish to visit us again, please click here. </a>
        </h3>
        {% endif %}

    </div>


{% endblock %}