{% extends '__base__.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'scripts/index.js' %}"></script>
{% endblock %}


{% block container %}
    {% load random_color %}
    {% load mathfilters %}

    <div class="header-text">
        <h1>Our Team is making sure that all our Events are top level !</h1>
    </div>

    <div class="container-events">

        {% for event_list in events %}

            <div class="row1-container">
                {% for event in event_list %}
                    <div class="box {% random_color_name %} zoom">

                        <input type="hidden" id="event_url" data-url="{% url 'event_booker:book-event' id=event.id %}"/>

                        <img class="img-event" src="{% static 'images/Python.png' %}" alt="Event Image">
                        <h2>"{{ event.name }}"</h2>
                        <p><strong>Event Date: </strong>{{ event.date }}</p>
                        <p><strong>Book your space between: </strong>{{ event.start_date }} - {{ event.end_date }}</p>
                        <p class="desc-hidden"><strong>Description:</strong> {{ event.description }}</p>

                        {% with reserved=event.confirmed_reservations %}
                            <p class="available-spaces"><strong>Available Spaces:</strong>
                                <span>{{ event.places }}</span></p>
                            <input type="hidden" class="free-spaces"
                                   data-spaces="{{ event.places|sub:reserved }}"/>

                            <p><strong>Free spaces:</strong> {{ event.places|sub:reserved }}</p>
                        {% endwith %}

                        <p><strong>Confirmed reservations:</strong> {{ event.confirmed_reservations }}</p>

                        {% with all_reservaions=event.no_of_reservations %}
                            <p><strong>Awaiting
                                Confirmation:</strong> {{ event.no_of_reservations|sub:event.confirmed_reservations }}
                            </p>

                        {% endwith %}

                        {% if event.age_restriction is True %}
                            <p class="age-restriction">Please note this event is for adults 18+. </p>
                        {% else %}
                            <p>No age restriction.</p>
                        {% endif %}


                        <img class="zoom-img" src="{% static 'images/icon-lookup.svg' %}" alt="zoom picture">
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}