{% extends '__base__.html' %}
 {% load static %}

 {% block script %}
        <script src="{% static 'scripts/index.js' %}" async defer></script>
 {% endblock %}


{% block container %}
    {% load random_color %}

    <div class="header">

        <h1>Our Team is making sure that all our Events are top level !</h1>
    </div>

    <div class="container">

        {% for event_list in events %}

            <div class="row1-container">
                {% for event in event_list %}
                    <div class="box {% random_color_name %} zoom">
                        <h2>"{{ event.name }}"</h2>
                        <p><strong>Event Date: </strong>{{ event.date }}</p>
                        <p class="desc-hidden"><strong>Description:</strong> {{ event.description }}</p>
                        <p><strong>Available Spaces:</strong> 50</p>
                        <p><strong>Confirmed reservations:</strong> 5</p>
                        <p><strong>Awaiting Confirmation:</strong> 10</p>
                        <p><strong>Free spaces:</strong> 14</p>
                        <p><strong>Duration:</strong> 5 days</p>
                        <img class="zoom-img" src="{% static 'images/icon-lookup.svg' %}" alt="zoom picture">
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {#    <div class="box cyan">#}
    {#      <h2>Supervisor</h2>#}
    {#      <p>Monitors activity to identify project roadblocks</p>#}
    {#      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">#}
    {#    </div>#}
    {##}
    {#    <div class="box red">#}
    {#      <h2>Team Builder</h2>#}
    {#      <p>Scans our talent network to create the optimal team for your project</p>#}
    {#      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">#}
    {#    </div>#}
    {##}
    {#    <div class="box blue">#}
    {#      <h2>Calculator</h2>#}
    {#      <p>Uses data from past projects to provide better delivery estimates</p>#}
    {#      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">#}
    {#    </div>#}

    {#  <div class="row2-container">#}
    {#    <div class="box orange">#}
    {#      <h2>Karma</h2>#}
    {#      <p>Regularly evaluates our talent to ensure quality</p>#}
    {#      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">#}
    {#    </div>#}
    {#  </div>#}
    {##}
    {#  <div class="row1-container">#}
    {#    <div class="box cyan">#}
    {#      <h2>Supervisor</h2>#}
    {#      <p>Monitors activity to identify project roadblocks</p>#}
    {#      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">#}
    {#    </div>#}
    {##}
    {#    <div class="box red">#}
    {#      <h2>Team Builder</h2>#}
    {#      <p>Scans our talent network to create the optimal team for your project</p>#}
    {#      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">#}
    {#    </div>#}
    {##}
    {#    <div class="box blue">#}
    {#      <h2>Calculator</h2>#}
    {#      <p>Uses data from past projects to provide better delivery estimates</p>#}
    {#      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">#}
    {#    </div>#}
    {#  </div>#}

{% endblock %}