{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
    {% block script %}

    {% endblock %}
</head>

<body>
<header>
    <div class="logo">
        <p>Ev<span class="span-st"></span><span class="span-nd">Ent</span>er <span class="r">©</span></p>

    </div>
</header>

{% block container %}
{% endblock %}


  <footer>
    <p class="attribution">
      ©
        <script>
            document.write(new Date().getFullYear());
        </script>
        Copyright: Leszek Grechowicz
        <a href="https://github.com/leszekgrechowicz">GitHub</a>

    </p>
  </footer>
</body>

</html>