<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{#      <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">#}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">

    {% block styles %}

    {% endblock %}
    {% block script %}

    {% endblock %}
</head>

<body>
<header id="header-tag">
    <div class="logo">
        <p><span id="4" class="span-st">Ev</span><span id="8" class="span-nd">Ent</span><span id="9">er</span><span id="1" class="r">©</span></p>
    </div>
</header>

{% if messages %}
    {% for message in messages %}

        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            <p><strong>{{ message }}</strong></p>

        </div>
    {% endfor %}
{% endif %}


{% block container %}
{% endblock %}


<footer>
    <p class="attribution">
        ©
        <span id="year"></span>
        Copyright: Leszek Grechowicz
        <a href="https://github.com/leszekgrechowicz">GitHub</a>
    </p>
</footer>
</body>

</html>